.Grid {
    background-color: #2941ab;
    display: grid;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin: 0;
}
.navbar{
    height: 80px;
    background-color: black;
    display: flex;
}
.links{
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    flex-grow: 5;
}
.links:hover{
    color: #1ed760;
}
.spoty{
    color: white;
    font-size: 28px;
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    flex-grow: 30;
}
.separador{
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    flex-grow: 1;
}
.main{
    font-weight: bold;
    color:#1ed760;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto auto auto;
}
.m1{
    font-size: 156px;
    grid-column: 2/ 3;
}
.m2{
    font-size: 18px;
    grid-column: 2 / 3;
    padding-bottom: 40px;
}
.Spotifybutton{
    color: #2941ab;
    font-size: 14px;
    margin: auto;
    padding: 15px;
    background-color: #1ed760;
    border-radius: 30px;
    text-decoration: none;
    grid-column: 2 / 3;
}
.Spotifybutton:hover{
    transform: scale(1.1);
}